.navbar {
  display: flex;
  flex-direction: row;
  background-color: #e8e8e8;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px lightgrey;
  height: 75px;
  position: fixed;
  top: 0px;
}

.website-logo-container {
  margin-left: 40px;
}

.website-logo {
  height: 50px;
  width: 150px;
}
